.DS_Store
.project
.pydevproject
.settings/
autom4te.cache/
aclocal.m4
config.log
config.status
configure
Makefile
doc/*.aux
doc/*.lof
doc/*.log
doc/*.lot
doc/*.out
doc/*.pdf
doc/*.toc
doc/diagrammi/*.eps
ebin/*.beam
forse_rc.py
src/forse/*/Ui_*.py
*~
*.pyc
*.pyo
